/* CUSTOM PEROPERTIES */
:root {
  --text-color: #69707D;
  --text-color-dark: #1D2026;
  --accent-color: #FF7E1B;
  --accent-color-light: #FFEEE2;
  --accent-color-hover: #FFAB6A;
  --light-bg:  #F6F8FD;

  --font-face: 'Kumbh Sans', 'Arial', sans-serif;
}
/* FONT FACE */
@font-face {
  font-family: 'Kumbh Sans';
  src: url('../fonts/KumbhSans-Regular.woff2') format('woff2'),
  url('../fonts/KumbhSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('../fonts/KumbhSans-Medium.woff2') format('woff2'),
  url('../fonts/KumbhSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-family: Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: var(--text-color);
}
img
{
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  max-width: 1158px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
}

/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}